////
/// Core
/// @description Root file compiling only Core CSS.
/// @group Main
////

/// Colors
/// @example[html] Description
///   Code Sample
$base-black                  : #000;
$base-white                  : #FFF;

/// ---

/// ROOT COLOR
$root-color: (
  grey-85                    : tint($base-black, 15%),
);
